/* - - - - - - - - - - - - - - - - - - - - -

 Title : Base Form Styling
 Author : red
 URL : https://raw.githubusercontent.com/redanthrax/wufoo-css/master/baseform.css

 Last Updated : 2022-10-20

- - - - - - - - - - - - - - - - - - - - - */

body {
    font-family: freight-macro-pro;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-transform: none;
}

.btTxt.submit {
    border-radius: 2px;
    background: #353940;
    padding: 5px;
    border: 0 none;
    cursor: pointer;
    color: #fff;
}

